.app {
  text-align: center;
  min-height: 100vh;
}

.select-style {
  background-color: rgb(240, 250, 255);
  width: 60%;
  display: flex;
  height: 70px;
  padding: 15px;
  border-radius: 10px;
  padding-right: 920px;
}
